/*link contact*/

/*input[type=text]     
    width: 250px;
    height: 60%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 12px 12px 40px;
    margin: 2%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    */
 
    
    #biology{
        color: red;
        font: #ffffff
    }

    .img-responsive{
        height: 40vh;
        width: 40vh;
    }

    .graph-size { /*for 2 graph*/
    width: 100vh;
    height: 85vh
    min-width: 300px;
    margin-left: 50vh;
    margin-top: 15vh;
   }
   .production_s2{
    height: 100vh;
    width: 103%;
   }