input[type=search] {
    width: 250px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=search]:focus {
    width: 100%;
}
.form-group{
    width: 200px;
    margin: 1% auto;
    border-radius: 4px;
}
label{
    color: #fff;
    font-size: 1.5em;
    margin: 0.2em auto;
}
#myModal{
    width: 100%;
}
.modal-content{
    width: 800px;
    height: 800px;
}
