<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>About</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/one-page-wonder.css') }}" rel="stylesheet">
  <!-- boom csss-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/boom.css') }}">
<!--   <link rel="stylesheet" type="text/css" href="css/style.css"> -->
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Genres Movie Analytic</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item active">
            <a class="nav-link" href="index.html">Home
              <span class="sr-only">(current)</span>
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/credit">Credit</a>
          </li>
          <!-- <form>
          <input type="text" name="serach" placeholder="Serach..">
          </form> -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- END NAVBAR -->

  <header class="masthead">
    <div class="overlay" style="padding-top: 10rem;">
      <div class="container">
        <div class="bg_mid" style="">
        <h1 class="display-3 text-white" style="">จุดประสงค์ของการทำโปรเจคนี้</h1>
        <h3 class="display-6 text-white">
ปัจจุบันโลกได้มีการพัฒนาขึ้นอยู่ตลอดเวลา และมีเหตุการณ์มากมายซึ่งส่งผลกระทบต่อชีวิต สังคม โลก ในด้านของธุรกิจภาพยนต์ก็ได้ถูกเหตุการณ์ตามยุคสมัยส่งผลต่อการผลิตหนัง
ดังนั้น เว็บไซต์นี้จัดทำขึ้นเพื่อทราบถึงสาเหตุของการเปลี่ยนแปลงตามยุคสมัยที่ส่งผลต่อการผลิตหนังประเภทต่างๆ และสาเหตุที่ผู้คนนิยมหนังในประเภทนั้นๆ</h3>
        </div> <!-- bg_mid -->
        </div> <!-- container -->
      </div> <!-- overlay -->

    </header> <!-- masthead -->

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  </body>

  </html>
