<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://unpkg.com/vue"></script>
  
  <title>Show_</title>
  
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/one-page-wonder.css') }}" rel="stylesheet">
  <!-- boom csss-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/boom.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
  <style type="text/css">
  header.masthead {
   background-image: url("{{ url_for('static', filename='img/directors/christopher-wallpaper.jpg')}}")
  }
</style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Genres Movie Analytic</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/credit">Credit</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END NAVBAR -->
  <div id="fullpage">
    <section>
      <header class="masthead">
          <div class="overlay">
            <div class="container">
              <div id="biology" class="row"> <!-- biology.text -->
                <div>
                  <h1 class="col-md-6" style="color: #A4A4A4; font-weight: bold;">Christopher Edward Nolan</h1>
                  <p class="col-md-8" id="history" style="text-align: justify; color: #EFECEC;">&ensp;&ensp;&ensp;&ensp;&ensp;เกิดเมื่อวันที่ 30 กรกฎาคม ค.ศ. 1970  เป็นนักเขียนและโปรดิวเซอร์ เขามีชื่อเสียงจากการกำกับหนังแนวจิตวิทยา ระทึกขวัญเรื่อง Memento และในภาพยนตร์ Batman Begins atman 2 The Dark Knight และ Batman 3 The Dark Knight Rises&ensp;ที่ได้รับเสียงตอบรับที่ดี&ensp;เขามักจะร่วมงานกับงานกับน้องชายของเขาที่เป็นนักเขียนบทภาพยนตร์ ที่ชื่อ โจนาธาน โนแลน และร่วมงานกับนักแสดงอย่าง คริสเตียน เบล และไมเคิล เคน โนแลนก่อตั้งบริษัทผลิตภาพยนตร์ที่ชื่อ ซินก็อปปี้ฟิมส์</p>
                </div>
              </div><!-- end.biology.text -->
            </div> <!-- container -->
          </div> <!-- overlay -->
        </header> <!-- masthead -->
    </section> <!-- section 1 -->


    <section style="background-color: #232323;"><!-- section2 --><!-- slide graph -->
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <object class="production_s2" type="image/svg+xml" data="{{url_for('static', filename='./svg/director/Christopher_Nolan/Christopher_Nolan_1995.svg')}}"></object>
          </div>
          <div class="carousel-item">
            <object class="production_s2" type="image/svg+xml" data="{{url_for('static', filename='./svg/director/Christopher_Nolan/Christopher_Nolan_2005.svg')}}"></object>
          </div>
        </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </section><!-- section2 -->
        <section><!-- section3 --><!-- graph-->
          <div class="row margin-b-40">
            <div class="col-md-6">
              <div class="margin-b-20">
                <object class="production_s2" type="image/svg+xml" data="{{url_for('static', filename='./svg/director/Christopher_Nolan/director_genres.svg')}}"></object>
              </div>
            </div>
            <div class="col-md-6" style="background-color: #000">
              <object class="production_s2" type="image/svg+xml" data="{{url_for('static', filename='./svg/director/Christopher_Nolan/popular_d.svg')}}"></object>
            </div>
          </div>
        </section><!-- section3 -->
        <section style="background-color: #EFECEC;"><!-- section4 --><!-- top3 -->
          <div class="container content-lg">
            <br>
            <div >
              <div style="text-align: center;"> <!-- class="col-sm-6 col-sm-offset-6" -->
                <h2>Top 3 Chirstopher Nolan's Movies at the box office</h2>
              </div>
            </div>
            <br>            <div class="row">
              <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20" style="text-align: center;">
                  <img class="img-responsive" src="{{ url_for('static', filename='img/top3/The_dark_knight.jpg')}}">
                </div><br>
                <h4><span class="text-uppercase margin-l-20">The Dark Knight</span></h4>
                <p>&ensp;&ensp;รายได้ ทั่วโลก 1,005,000,000$</p>
                <p class="scroll">&ensp;&ensp;&ensp;แบทแมน(บรูซ เวย์น) กลับมาเพื่อสานต่อสงครามต่อสู้อาชญากรรมด้วยความช่วยเหลือของผู้หมวดจิม กอร์ดอน และอัยการเขตฮาร์วีย์ เดนท์ แบทแมนมุ่งมั่นที่จะทำลายล้างองค์ก อาชญากรรมในกอธแฮมให้สิ้นซาก การทำงานแบบสามทหารเสือดูเหมือนจะสัมฤทธิผล แต่ไม่ช้าพวกเขากลับพบว่าตกเป็นเหยื่อของจอมอาชญากรอย่างโจ๊กเกอร์ ผู้ซึ่งทำให้กอธแธมต้องตกอยู่ในความสับสน และบีบบังคับให้อัศวินดำต้องเฉียดเข้าไปใกล้เส้นแบ่งระหว่างวีรบุรุษและวายร้ายมากยิ่งขึ้น</p>
              </div>
              <div class="col-sm-4 sm-margin-b-50" id="spider">
                <div class="margin-b-20" style="text-align: center;">
                  <img class="img-responsive" src="{{ url_for('static', filename='img/top3/Inception.jpg')}}">
                </div><br>
                <h4><span class="text-uppercase margin-l-20">
                Inception</span></h4>
                <p>&ensp;&ensp;รายได้ ทั่วโลก 825,500,000$</p>
                <p class="scroll">&ensp;&ensp;&ensp;การฉกชิงความลับล้ำค่าจากจิตใต้สำนึกเบื้องลึกระหว่างสภาวะความฝัน ซึ่งเป็นเวลาที่จิตใจจะเปราะบางที่สุด  การปลูกฝัง แทนที่จะขโมย คอบบ์กับทีมผู้เชี่ยวชาญของเขาจะต้องทำสิ่งตรงกันข้าม งานของพวกเขาไม่ใช่การเข้าไปขโมยความคิด แต่จะต้องปลูกเข้าไป ถ้าทำสำเร็จ มันจะกลายเป็นอาชญากรรมที่สมบูรณ์แบบแต่ไม่มีการวางแผนอย่างรอบคอบชนิดใดที่จะทำให้ทีมพร้อมเผชิญหน้ากับศัตรูอันตราย ที่ดูเหมือนจะรู้ล่วงหน้าถึงทุกความเคลื่อนไหว ศัตรูซึ่งมีเพียงคอบบ์ผู้เดียวที่จะมองเห็นได้</p>
              </div><!-- End spiderman Products -->
              <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20" style="text-align: center;">
                  <img class="img-responsive" src="{{ url_for('static', filename='img/top3/interstellar.png')}}">
                </div><br>
                <h4><span class="text-uppercase margin-l-20">Interstellar</span></h4>
                <p>&ensp;&ensp;รายได้ ทั่วโลก 675,100,000$</p>
                <p class="scroll">&ensp;&ensp;&ensp;เรื่องราวในยุคช่วงปลายของโลกที่ทุกอย่างกำลังจะจบสิ้นลงตามวัฏจักรแห่งจักรวาล  มนุษยชาติกำลังจะต้องเผชิญกับความยากแค้นขาดแคลนซึ่งอาหารและต้องผจญกับภัยพิบัติทางธรรมชาติต่างๆ หนทางในการแก้ปัญหามีทางเดียว ซึ่งไม่เหลือทางเลือกสำหรับการกอบกู้โลกด้วยวิธีใดอีกต่อไปแล้ว แต่เป็นทางเลือกที่จะพลิกหน้าประวัติศาสตร์ของมนุษยชาติไปอย่างสิ้นเชิงกับการเดินทางข้ามสู่กาแล็คซี่อันไกลโพ้น เพื่อค้นหาดาวดวงใหม่สำหรับมนุษย์</p>
              </div>
            </div>
            <!--// end row -->
          </section><!-- section4 -->
      </div> <!-- fullpage -->
      <!-- Bootstrap core JavaScript -->
      <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    </body>

    </html>
