<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://unpkg.com/vue"></script>
  
  <title>Show_</title>
  
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/one-page-wonder.css') }}" rel="stylesheet">
  <!-- boom csss-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/boom.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Genres Movie Analytic</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/credit">Credit</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END NAVBAR -->
  <div id="fullpage">
    <section>
      <header class="masthead"> 
        <div class="overlay">

        </div> <!-- overlay -->
      </header> <!-- masthead -->
    </section> <!-- section 1 -->


    <section style="background-color: #232323;"><!-- section2 --><!-- slide graph -->
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <object class="production_s2" type="image/svg+xml" data="{{url_for('static', filename='./svg/director/Christopher_Nolan/Christopher_Nolan_1995.svg')}}"></object>
          </div>
          <div class="carousel-item">
            <object class="production_s2" type="image/svg+xml" data="{{url_for('static', filename='./svg/director/Christopher_Nolan/Christopher_Nolan_2005.svg')}}"></object>
          </div>
        </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </section><!-- section2 -->
        <section><!-- section3 --><!-- graph-->
          <div class="row margin-b-40">
            <div class="col-md-6">
              <div class="margin-b-20">
                <object class="production_s2" type="image/svg+xml" data="{{url_for('static', filename='./svg/director/Christopher_Nolan/director_genres.svg')}}"></object>
              </div>
            </div>
            <div class="col-md-6" style="background-color: #000">
              <object class="production_s2" type="image/svg+xml" data="{{url_for('static', filename='./svg/director/Christopher_Nolan/popular_d.svg')}}"></object>
            </div>
          </div>
        </section><!-- section3 -->
      </div> <!-- fullpage -->
      <!-- Bootstrap core JavaScript -->
      <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    </body>

    </html>
