<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>COLUMBIA</title>
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/one-page-wonder.css') }}" rel="stylesheet">
  <!-- boom csss-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/boom.css') }}">
  <!-- style -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
  <style type="text/css">
  @media (min-width: 992px) {
    header.masthead>.overlay {
      padding: 13rem 0;}
    #history{
      text-align: justify;
      color: #A4A4A4;
    }
    header.masthead{
      background: url('{{ url_for('static', filename='img/bg_colombia.jpg') }}') repeat center center fixed;  /*fixed*/
      height: 100%;
      -webkit-background-size: auto;
     -moz-background-size: auto;
      background-size: 100%;
      -o-background-size: auto;
    }
    </style>
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Genres Movie Analytic</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/credit">Credit</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END NAVBAR -->
    <div id="fullpage">
      <section> <!-- section1 -->
        <header class="masthead">
          <div class="overlay">
            <div class="container">
              <div id="biology" class="row"> <!-- biology.text -->
                <div>
                  <h1 class="col-md-5" style="color: #A4A4A4; font-weight: bold;">Columbia Pictures</h1>
                  <p class="col-md-8" id="history">&ensp;&ensp;&ensp;&ensp;&ensp;โคลัมเบีย พิคเจอร์ส อินดัสทรีส์, อิงก์. Columbia Pictures Industries, Inc. เป็นบริษัทผลิตภาพยนตร์และจัดจำหน่าย ปัจจุบันโคลัมเบียพิคเจอร์สเป็นส่วนหนึ่งของ โคลัมเบีย ไตรสตาร์ โมชัน พิกเจอร์ กรุป มีเจ้าของคือโซนี พิคเจอร์ส เอนเตอร์เทนเมนต์ สตูดิโอก่อตั้งในปี ค.ศ. 1919 ในชื่อ คอห์น-แบรนดต์-คอห์น ฟิล์ม เซลส์ โดยพี่น้องแจ็กและแฮร์รี คอห์น และโจ แบรนดต์ ออกฉายภาพยนตร์เรื่องแรกในเดือนสิงหาคม ค.ศ. 1922 และมาใช้ชื่อว่าโคลัมเบียพิคเจอร์สในปี ค.ศ. 1924 และสู่สาธารณะในอีก 2 ปีถัดมา ในยุคแรกของวงการฮอลลีวูด โคลัมเบียพิคเจอร์สเติบโตในช่วงปลายคริสต์ทศวรรษ 1920 กับความสำเร็จของผู้กำกับอย่างแฟรงก์ คาปรา</p>
                </div>
              </div><!-- end.biology.text -->
            </div> <!-- container -->
          </div> <!-- overlay -->
        </header> <!-- masthead -->
      </section><!-- section1 -->
      <section><!-- section2 --><!-- graph-->
        <div class="row margin-b-40">
          <div class="col-md-6 col-sm-offset-3">
            <div class="margin-b-20">
              <object class="production_s2" type="image/svg+xml" data="{{url_for('static', filename='./svg/production/Columbia_Pictures/Columbia_Pictures.svg')}}"></object>
            </div>
          </div>
          <div class="col-md-6 col-sm-offset-3" style="background-color: #000">
            <object class="production_s2" type="image/svg+xml" data="{{url_for('static', filename='./svg/production/Columbia_Pictures/Columbia_Pictures_genrespopular.svg')}}"></object>
          </div>
        </div>
      </section><!-- section2 -->
      <section style="background-color: #000;"><!-- section3 --><!-- slide graph -->
        <p style="text-align: center;">&ensp;&ensp;&ensp;จากกราฟด้านบนจะเห็นว่า Columbia Pictures ทำหนังสไตล์ Comedy กับ Drama ออกมามาก แต่สไตล์หนังที่เป็นที่นิยมเป็นอย่างมากคือ Action ซึ่งสามารถแสดงสไตล์หนังยอดนิยมในแต่ละช่วงปีดังกราฟด้านล่าง</p>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <object class="graph-size" type="image/svg+xml"  data="{{url_for('static', filename='./svg/production/Columbia_Pictures/Columbia_Pictures_1980.svg')}}"></object>
            </div>
            <div class="carousel-item">
              <object class="graph-size" type="image/svg+xml"  data="{{url_for('static', filename='./svg/production/Columbia_Pictures/Columbia_Pictures_1990.svg')}}"></object>
            </div>
            <div class="carousel-item">
              <object class="graph-size" type="image/svg+xml"  data="{{url_for('static', filename='./svg/production/Columbia_Pictures/Columbia_Pictures_2000.svg')}}"></object>
            </div>
            <div class="carousel-item">
              <object class="graph-size" type="image/svg+xml"  data="{{url_for('static', filename='./svg/production/Columbia_Pictures/Columbia_Pictures_2010.svg')}}"></object>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </section><!-- section3 -->
        <section id="Columbia" style="background-color:  #EFECEC;"><!-- section4 --><!-- top3 -->
          <div class="container content-lg">
            <div class="row text-center margin-b-40">
              <div> <!-- class="col-sm-6 col-sm-offset-6" -->
                <h2>Top 3 Columbia-Pictures's movies at the box office</h2>

                <p>The unfairness of the Treaty of Versailles and other peace agreements. Which was made after the First World War. They were forced to sign contracts that were at a disadvantage</p>
              </div>
            </div>
            <div class="row">
              <!-- skyfall Products -->
              <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20">
                  <img class="img-responsive" src="{{ url_for('static', filename='img/top3/skyfall.cb.jpg')}}">
                </div>
                <h4><span class="text-uppercase margin-l-20">Skyfall</span></h4>
                <p>&ensp;&ensp;รายได้ ทั่วโลก 908,561,013$</p>
                <p class="scroll">&ensp;&ensp;&ensp;สายลับ MI6 เจมส์ บอนด์ และอีฟ ได้รับภารกิจให้ตามยึดฮาร์ดไดรฟ์ที่บรรจุข้อมูลเกี่ยวกับสายลับ NATO ทุกคนที่แฝงตัวอยู่ในองค์กรก่อการร้ายทั่วโลกคืนมา ทั้งสองได้ไล่ตามพาทริซ นักฆ่าที่ขโมยฮาร์ดไดรฟ์ไป ในระหว่างที่สู้กันบนหลังคารถไฟ บอนด์ถูกยิงและตกลงไปสู่แม่น้ำเบื้องล่าง เมื่อไม่พบศพ บอนด์จึงตกอยู่ในสถานะ "หายสาบสูญ คาดว่าเสียชีวิตแล้ว"</p>
              </div>
              <!-- End skyfall Products -->
              <!-- spiderman Products -->
              <div class="col-sm-4 sm-margin-b-50" id="spider">
                <div class="margin-b-20">
                  <img class="img-responsive" src="{{ url_for('static', filename='img/top3/spiderman.cb.jpg')}}">
                </div>
                <h4><span class="text-uppercase margin-l-20">Spide-Man</span></h4>
                <p>รายได้ ทั่วโลก 682,708,551$</p>
                <p class="scroll"> หนุ่มวัยรุ่นกำพร้า ปีเตอร์ พาร์เกอร์ อาศัยอยู่กับป้าเมย์และลุงเบนอันเป็นที่รัก ในเมืองควีนส์ นิวยอร์กได้รับพลังแมงมุมจากการถูกแมงมุมที่ถูกดัดแปลงทางพันธุกรรมกัดในการทัศนศึกษาครั้งหนึ่ง หลังจากนั้นเขาได้ใช้พลังพิเศษที่มีอยู่ในตัว ต่อสู้กับอาชญากรรมทั้งมวล</p>
              </div><!-- End spiderman Products -->
              <!-- End Davici Products -->
              <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20">
                  <img class="img-responsive" src="{{ url_for('static', filename='img/top3/dvc.cb.jpg')}}">
                </div>
                <h4><span class="text-uppercase margin-l-20">Davici Code</span></h4>
                <p>&ensp;&ensp;รายได้ ทั่วโลก 642,820,459$</p>
                <p class="scroll">&ensp;&ensp;&ensp;ค่ำคืนหนึ่งกลางกรุงปารีส ประเทศฝรั่งเศส ฌาคส์ โซนิแยร์ ภัณฑารักษ์หัวหน้าผู้ดูแลพิพิธภัณฑ์ 'ลูฟว์' พิพิธภัณฑ์ศิลปะที่ใหญ่ที่สุดแห่งหนึ่งของโลก ถูกฆาตกรรมอย่างโหดเ!้ยมในพิพิธภัณฑ์ อย่างไม่ทราบสาเหตุ โดยก่อนเสียชีวิต โซนิแยร์ ได้ทิ้งปริศนาการตาย เป็นศพของเขาที่วางอยู่บนเป็นรูปสัญลักษณ์ 'วิทรูเวียนแมน' หรือรูปคนกลางแขนบนดาวห้าแฉก เหมือนเป็น 1 ในผลงานเลื่องชื่อของศิลปินระดับโลก ลีโอนาโด ดาวินชี โรเบิรต์ แลงดอน (ทอม แฮงค์) ในการไขรหัสลับของคดีฆาตกรรมอันน่าสยดสยองนี้  แต่ความจริงที่อยู่เบื้องหลังการถอดรหัสครั้งนี้ กลับเปิดโปงเรื่องลับศรัทธา ที่คนเชื่อถือมานานกว่า 2,000 ปี</p>
              </div>
              <!-- End Davici Products -->
            </div>
            <!--// end row -->
          </section><!-- section4 -->
        </div>
        <!-- Bootstrap core JavaScript -->
        <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
      </body>
      </html>
