<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- sw3 -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>contact</title>
  
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css' )}}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/one-page-wonder.css' )}}" rel="stylesheet">
  
  <!-- boom csss, carousel-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/boom.css' )}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css' )}}"> 
  
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
  .mySlides {display:none}
  .w3-left, .w3-right, .w3-badge {cursor:pointer}
  .w3-badge {height:13px;width:13px;padding:0}
</style>

<style type="text/css">
.navbar{
  margin-bottom: 0px;}
  @media (min-width: 992px) {
    header.masthead>.overlay {
      padding: 2.4rem 0;}
    }
  </style>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Genres Movie Analytic</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/credit">Credit</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END NAVBAR -->

    <header class="masthead">
      <div class="overlay">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Carousel -->
          <div class="container">
            <div class="w3-content w3-display-container" style="max-width:95%">
              <img class="mySlides" src="{{ url_for('static', filename='img/khing.jpg' )}}" alt="khing" style="width:100%; height: 60%">
              <img class="mySlides" src="{{ url_for('static', filename='img/koon.jpg' )}}" alt="koon" style="width:100%; height: 60%">
              <img class="mySlides" src="{{ url_for('static', filename='img/mick.jpg' )}}" alt="mix" style="width:100%; height: 60%">
              <img class="mySlides" src="{{ url_for('static', filename='img/mo.jpg' )}}" alt="mo" style="width:100%; height: 60%">
              <img class="mySlides" src="{{ url_for('static', filename='img/pack.jpg' )}}" alt="pack" style="width:100%; height: 60%">
              <img class="mySlides" src="{{ url_for('static', filename='img/boom.jpg' )}}" alt="boom" style="width:100%; height: 60%">
              <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%; height: 3%">
                <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10096;</div>
                <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10097;</div>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(6)"></span>
              </div>
            </div>

            <script>
              var slideIndex = 1;
              showDivs(slideIndex);

              function plusDivs(n) {
                showDivs(slideIndex += n);
              }

              function currentDiv(n) {
                showDivs(slideIndex = n);
              }

              function showDivs(n) {
                var i;
                var x = document.getElementsByClassName("mySlides");
                var dots = document.getElementsByClassName("demo");
                if (n > x.length) {slideIndex = 1}    
                  if (n < 1) {slideIndex = x.length}
                    for (i = 0; i < x.length; i++) {
                     x[i].style.display = "none";  
                   }
                   for (i = 0; i < dots.length; i++) {
                     dots[i].className = dots[i].className.replace(" w3-white", "");
                   }
                   x[slideIndex-1].style.display = "block";  
                   dots[slideIndex-1].className += " w3-white";
                 }
               </script>
             </div>
           </div>
         </div>
         <!-- end carousel -->
       </header>
     </body>
     <!-- Bootstrap core JavaScript -->
     <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js' )}}"></script>
     <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js' )}}"></script>

   </body>
   </html>
