<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Credit</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/one-page-wonder.css') }}" rel="stylesheet">
  <!-- boom csss-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/boom.css') }}">
  <style type="text/css">
  @media (min-width: 992px) {
    header.masthead>.overlay {
      padding: 22.5rem 0;}
    }
  </style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Genres Movie Analytic</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item active">
            <a class="nav-link" href="index.html">Home
              <span class="sr-only">(current)</span>
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/credit">Credit</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END NAVBAR -->
  <header class="masthead">
    <div class="overlay" style="padding: 8rem 0">
      <div class="container">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <h1 style="font-weight: bold; color: #00ffea">สรุปผลการวิเคราะห์</h2>
            <p style="color: #e6ffff; text-align: left; font-size: 20px"><br>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;สิ่งที่สามารถสรุปได้จากกราฟคือ ในยุคสมัยต่างๆได้มีความนิยมที่แตกต่างกันโดยความนิยมจะมาจากหลายปัจจัย ปัจจัยแรกคือจำนวนหนัง genres นั้นๆที่ถูกผลิตออกมา ปัจจัยที่สองคือ เหตุการณ์ต่างๆที่เกิดขึ้นในช่วงยุคนั้น โดยในอดีตจะมีความนิยมหนังที่เป็นสไตล์ไม่มีเนื้อเรื่องเน้นมุขตลกไม่มี CG อะไรมากแต่ในปัจจุบันนั้นสังเกตเห็นว่า genres หนังที่ผู้คนนิยมในปัจจุบันจะมีเนื้อเรื่องแทบทั้งสิ้นและ ในอนาคตเราสามารถคาดเดาจากกราฟได้ว่า ผู้คนจะนิยมหนังที่มีการผสมในหลาก style และ หนังจะต้องมีภาคต่อที่น่าติดตามหนังประเภทนี้จะสามารถตีตลาดในยุคนี้ได้
</p>
        </div> <!-- class col-md-10 -->
        <div class="col-md-1"></div>
        </div>
      <div></div> 
    </div> <!-- container -->

      <div class="container">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4 cardimg" id="credit">
            <a href="https://github.com/khingbmc/Genres-Movie-Analysis">
            <img style="width: 200px; height: 200px" src="{{ url_for('static', filename='img/credit/github.png')}}"></div>
          <div class="col-md-4"></div>
          </a>
        </div>
        <div><br><br></div>
        <div class="row">
          <div class="col-md-2"><br><br>
            <img style="width: 200px; height: 200px" src="{{ url_for('static', filename='img/credit/bootstrap.png')}}">
          </div> <!-- col-md-2 -->
                  <div class="col-md-1"></div>
          <div class="col-md-2"><br><br>
            <img style="width: 200px; height: 200px" src="{{ url_for('static', filename='img/credit/css.jpg')}}">
          </div> <!-- col-md-2 -->
                  <div class="col-md-1"></div>
          <div class="col-md-2"><br><br>
            <img style="width: 200px; height: 200px" src="{{ url_for('static', filename='img/credit/flask.png')}}">
          </div> <!-- col-md-2 -->
                  <div class="col-md-1"></div>
          <div class="col-md-2"><br><br>
            <img style="width: 200px; height: 200px" src="{{ url_for('static', filename='img/credit/html.png')}}">
          </div> <!-- col-md-2 -->
                  <div class="col-md-1"></div>
        </div> <!-- row -->
        <div><br></div>
        <div class="row">
          <div class="col-md-2">
            <img style="width: 200px; height: 200px" src="{{ url_for('static', filename='img/credit/pygal.png')}}">
          </div> <!-- col-md-2 -->
                  <div class="col-md-1"></div>
          <div class="col-md-2">
            <img style="width: 200px; height: 200px" src="{{ url_for('static', filename='img/credit/python.jpg')}}">
          </div> <!-- col-md-2 -->
                  <div class="col-md-1"></div>
          <div class="col-md-2">
            <img style="width: 200px; height: 200px" src="{{ url_for('static', filename='img/credit/js.png')}}">
          </div> <!-- col-md-2 -->
                  <div class="col-md-1"></div>
          <div class="col-md-2">
            <img style="width: 200px; height: 200px" src="{{ url_for('static', filename='img/credit/digitalocean.png')}}">
          </div> <!-- col-md-2 -->
                  <div class="col-md-1"></div>
        </div> <!-- row -->
      </div> <!-- container -->

  </div> <!-- overlay -->
</header> <!-- masthead -->
    
<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>
