<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Walt Disney</title>
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/one-page-wonder.css') }}" rel="stylesheet">
  <!-- boom csss-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/boom.css') }}">
  <!-- style -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
  <style type="text/css">
  @media (min-width: 992px) {
    header.masthead>.overlay {
      padding: 13rem 0;}
      #history{
        text-align: justify;
        color: #A4A4A4;
      }
      header.masthead{
        background: url('{{ url_for('static', filename='img/bg_walt.jpg') }}') repeat center center fixed;  /*fixed*/
        height: 100%;
        -webkit-background-size: auto;
        -moz-background-size: auto;
        background-size: 100%;
        -o-background-size: auto;
      }
    </style>
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Genres Movie Analytic</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/credit">Credit</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END NAVBAR -->
    <div id="fullpage">
      <section> <!-- section1 -->
        <header class="masthead">
          <div class="overlay">
            <div class="container">
              <div id="biology" class="row"> <!-- biology.text -->
                <div>
                  <h1 class="col-md-5" style="color: #A4A4A4; font-weight: bold;">The Walt Disney Company</h1>
                  <p class="col-md-8" id="history">&ensp;&ensp;&ensp;&ensp;&ensp;บริษัทเดอะวอลต์ดิสนีย์ The Walt Disney Company หรือรู้จักกันในชื่อ ดิสนีย์ (Disney) บริษัทสื่อและสวนสนุกที่ใหญ่ที่สุดในโลก ก่อตั้งเมื่อวันที่ 16 ตุลาคม พ.ศ. 2466  (ค.ศ. 1923) โดยสองพี่น้องดิสนีย์ วอลต์ ดิสนีย์ และพี่ชาย รอย ดิสนีย์ โดยเริ่มก่อตั้งจากการเป็นสตูดิโอทำภาพยนตร์การ์ตูนในฮอลลีวูด และขยายกิจการเพิ่มเติมโดยในปัจจุบันมีสวนสนุก 11 แห่ง และสถานีโทรทัศน์หลายสถานี รวมถึง เอบีซี และ อีเอสพีเอ็น สำนักงานใหญ่ของดิสนีย์ตั้งอยู่ที่ วอลต์ดิสนีย์สตูดิโอส์ ที่เมืองเบอร์แบงก์ในรัฐแคลิฟอร์เนีย ซึ่งดิสนีย์ได้เข้าสู่เป็นบริษัทมหาชนเมื่อวันที่ 6 พฤษภาคม พ.ศ. 2534 สัญลักษณ์ทางการของดิสนีย์คือ มิกกี เมาส์</p>
                </div>
              </div><!-- end.biology.text -->
            </div> <!-- container -->
          </div> <!-- overlay -->
        </header> <!-- masthead -->
      </section><!-- section1 -->
      <section><!-- section2 --><!-- graph-->
        <div class="row margin-b-40">
          <div class="col-md-6">
            <div class="margin-b-20">
              <object class="production_s2" type="image/svg+xml" data="{{url_for('static', filename='./svg/production/Walt_Disney/Walt_Disney.svg')}}"></object>
            </div>
          </div>
          <div class="col-md-6" style="background-color: #000">
            <object class="production_s2" type="image/svg+xml" data="{{url_for('static', filename='./svg/production/Walt_Disney/Walt_Disney_genrespopular.svg')}}"></object>
          </div>
        </div>
      </section><!-- section2 -->
      <section style="background-color: #232323;"><!-- section3 --><!-- slide graph -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <object class="graph-size" type="image/svg+xml"  data="{{url_for('static', filename='./svg/production/Walt_Disney/Walt_Disney_1995.svg')}}"></object>
            </div>
            <div class="carousel-item">
              <object class="graph-size" type="image/svg+xml"  data="{{url_for('static', filename='./svg/production/Walt_Disney/Walt_Disney_2005.svg')}}"></object>
            </div>
            <div class="carousel-item">
              <object class="graph-size" type="image/svg+xml"  data="{{url_for('static', filename='./svg/production/Walt_Disney/Walt_Disney_2010.svg')}}"></object>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </section><!-- section3 -->
        <section><!-- section4 --><!-- top3 -->
          <div class="container content-lg">
            <div class="row text-center margin-b-40">
              <div> <!-- class="col-sm-6 col-sm-offset-6" -->
                <h1>Top 3 Disney's movies at the box office</h1>
                <h2>When the war was going...</h2>
                <p>The unfairness of the Treaty of Versailles and other peace agreements. Which was made after the First World War. They were forced to sign contracts that were at a disadvantage</p>
              </div>
            </div>
            <div class="row">
              <!-- skyfall Products -->
              <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20">
                  <img class="img-responsive" src="{{ url_for('static', filename='img/top3/narnia.dn.jpg')}}">
                </div>
                <h4><span class="text-uppercase margin-l-20">The Chronicles of Narnia: The Lion, the Witch and the Wardrobe</span></h4>
                <p>&ensp;&ensp;รายได้ ทั่วโลก 568,806,957$</p>
                <p>&ensp;&ensp;&ensp;เรื่องราวที่เด็ก ๆ นักผจญภัยสี่คน ผู้เล่นซ่อนหาในบ้านชนบทของศาสตราจารย์ชรา ได้บังเอิญพบตู้เสื้อผ้าวิเศษ ที่จะนำพวกเขาไปสู่สถานที่ ที่พวกเขาไม่เคยคิดฝันมาก่อน เมื่อก้าวผ่านประตูตู้วิเศษนั้น พวกเขาก็ได้ผ่านพ้นจากกรุงลอนดอน ที่กำลังเผชิญสงครามโลกครั้งที่สอง ไปสู่โลกเสมือนที่น่าตื่นตาตื่นใจ ที่เป็นรู้จักกันในนาม นาร์เนีย ดินแดนเทพนิยายมหัศจรรย์ ที่ซึ่งสัตว์ในป่าพูดได้ และสิ่งมีชีวิตในเทพนิยายเดินท่องไปทั่วหุบเขา แต่นาร์เนียกลับอยู่ภายใต้มนต์ที่เย็นยะเยียบของแม่มดร้าย มันถูกสาปให้ต้องเผชิญกับฤดูหนาวที่ไม่มีวันสิ้นสุด  นำนาร์เนียสู่สงครามอันตระการตา เพื่อให้หลุดพ้นจากคำสาปเยือกแข็งของแม่มดขาวไปตลอดกาล</p>
              </div>
              <!-- End skyfall Products -->
              <!-- spiderman Products -->
              <div class="col-sm-4 sm-margin-b-50" id="spider">
                <div class="margin-b-20">
                  <img class="img-responsive" src="{{ url_for('static', filename='img/top3/narnia2.png')}}">
                </div>
                <h4><span class="text-uppercase margin-l-20">The Chronicles of Narnia: Prince Caspian</span></h4>
                <p>&ensp;&ensp;รายได้ ทั่วโลก 194,651,413$</p>
                <p>&ensp;&ensp;&ensp;หนึ่งปีหลังจากจากการผจญภัยกับ "ราชสีห์, แม่มด กับตู้พิศวง" อดีตกษัตริย์และราชินีแห่งนาร์เนียพบว่าตัวเองกลับไปอยู่ในดินแดนอันไกลโพ้น นั้นอีกครั้ง เพียงเพื่อจะได้ค้นพบว่า เวลาในนาร์เนียได้ผ่านไปแล้วกว่า 1,300 ปี ในช่วงที่พวกเขาไม่อยู่นั้น ยุคทองของนาร์เนียได้เลือนหายไปหลง เหลือเป็นเพียงตำนานเล่าขาน สัตว์พูดได้และสิ่งมีชีวิตในเทพนิยายเป็นเพียงแค่ตำนานพื้นบ้านสำหรับพวกเท ลมารีน เผ่าพันธุ์มนุษย์ที่นำโดยลอร์ดมิราซ ผู้ไร้ปรานี ไม่มีใครพบเห็นราชสีห์อัสลานมาเป็นพันปีแล้ว เด็ก ๆ ทั้งสี่คนถูกเรียกตัวกลับมานาร์เนียโดยเจ้าชายแคสเปี้ยน ทายาทบัลลังก์เทลมารีน เพื่อต่อสู้กับมิราซ ลุงผู้ชั่วร้ายของเขา</p>
              </div><!-- End spiderman Products -->
              <!-- End Davici Products -->
              <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20">
                  <img class="img-responsive" src="{{ url_for('static', filename='img/top3/cr.dn.jpg')}}">
                </div>
                <h4><span class="text-uppercase margin-l-20">Cool Runnings</span></h4>
                <p>&ensp;&ensp;รายได้ ทั่วโลก 140,864,401$</p>
                <p>&ensp;&ensp;&ensp;cool runnings หนังจาก ดิสนี่ย์ที่สร้างจากเรื่องจริงของทีมแข่งเลื่อนน้ำแข็งจากจาไมก้า ประเทศที่ร้อนสุดๆชมเรื่องราวฮาๆของตัวละคร และการฝ่าฟันอุปสรรคต่างๆเพื่อจะได้เป็นประเทศแรกจากอัฟริกาที่ได้ไปแข่งโอลิมปิกฤดูหนาวในปี 1988หนังสนุกมาก ดูแล้วมีกำลังใจ ความสนุกอยู่ที่ แต่ละคนอยู่เมืองร้อน แต่จะต้องไปแข่งยังเมืองที่มีแต่น้ำแข็ง นึกดูว่ามันจะเป็นยังไง</p>
              </div>
              <!-- End Davici Products -->
            </div>
            <!--// end row -->
          </section><!-- section4 -->
        </div>
        <!-- Bootstrap core JavaScript -->
        <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
      </body>
      </html>
