<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://unpkg.com/vue"></script>
  
  <title>Show_</title>
  
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/one-page-wonder.css') }}" rel="stylesheet">
  <!-- boom csss-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/boom.css') }}">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Genres Movie Analytic</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/credit">Credit</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END NAVBAR -->
  <div id="fullpage">
    <section>
      <header class="masthead"> 
        <div class="overlay">

        </div> <!-- overlay -->
      </header> <!-- masthead -->
    </section> <!-- section 1 -->
    <section>
      <div class="row margin-b-40">
        <div class="col-md-6">
          <object class="production_s2" type="image/svg+xml" data="{{url_for('static', filename='./svg/director/Guillermo_del_Toro/Guillermo_del_Toro_2005.svg')}}"></object>
        </div>
      </div>
    </section> <!-- section2 -->
    <section>
      <div class="row margin-b-40">
        <div class="col-md-6">
          <object class="production_s2" type="image/svg+xml" data="{{url_for('static', filename='./svg/director/Guillermo_del_Toro/Guillermo_del_Toro_2010.svg')}}"></object>
        </div>
      </div>
    </section> <!-- section3 -->
    <div class="row margin-b-40">
      <div class="col-md-6">
        <object class="production_s2" type="image/svg+xml" data="{{url_for('static', filename='./svg/director/Guillermo_del_Toro/Guillermo_del_Toro_2015.svg')}}"></object>
      </div>
    </div>
    <section>
      <div class="row margin-b-40">
        <div class="col-md-6">
          <object class="production_s2" type="image/svg+xml" data="{{url_for('static', filename='./svg/director/Guillermo_del_Toro/director_genres.svg')}}"></object>
        </div>
      </div>
    </section> <!-- section4 -->
    <section>
      <div class="row margin-b-40">
        <div class="col-md-6">
          <object class="production_s2" type="image/svg+xml" data="{{url_for('static', filename='./svg/director/Guillermo_del_Toro/popular_d.svg')}}"></object>
        </div>
      </div>
    </section> <!-- section5 -->
  </div> <!-- fullpage -->
  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>
