<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>marvel</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/one-page-wonder.css') }}" rel="stylesheet">
    <!-- boom csss-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/boom.css') }}">
    <style type="text/css">
    @media (min-width: 992px) {
        header.masthead>.overlay {
            padding: 22.5rem 0;}
        }
    </style>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Genres Movie Analytic</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                      <!-- <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home
                          <span class="sr-only">(current)</span>
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/credit">Credit</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->

    <header class="masthead" id="marvel">
        <div class="overlay">
            <div class="container">
                    <div style= "background-color: transparent;">
                            <h1 style="color:rgb(255, 255, 255)">Biography of MARVEL STUDIOS</h1>
                            <h4 class="col-sm-8"style="color:rgb(192, 192, 192)">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ut illum, unde nesciunt illo quas eveniet. Quam natus maiores recusandae, iusto, perspiciatis saepe quidem aperiam consectetur sapiente odit dolores sequi.</h4>
                        </div>
            </div> <!-- container -->
        </div> <!-- overlay -->
    </header> <!-- masthead -->
    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>
