<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MARVEL VS DC</title>
  <!-- Bootstrap core CSS -->
<!--   <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
-->  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<!-- Custom styles for this template -->
<link href="{{ url_for('static', filename='css/one-page-wonder.css') }}" rel="stylesheet">
<!-- boom csss-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/boom.css') }}">
<!-- style -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">

<style type="text/css">
@media (min-width: 992px) {
  header.masthead>.overlay {
    padding: 13rem 0;}
    #history{
      text-align: justify;
      color: #A4A4A4;
    }
    header.masthead{
      background: url('{{ url_for('static', filename='img/bg_marvel.jpg') }}') repeat center center fixed;  /*fixed*/
      height: 100%;
      -webkit-background-size: auto;
      -moz-background-size: auto;
      background-size: 100%;
      -o-background-size: auto;
    }
  </style>
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Genres Movie Analytic</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/credit">Credit</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END NAVBAR -->
  <div id="fullpage">
    <section> <!-- section1 -->
      <header class="masthead">
        <div class="overlay" style="padding: 7rem 0">
          <div class="container">
            <div id="biology" class="row"> <!-- biology.text -->
              <div>
                <h1 class="col-md-5" style="color: #A4A4A4; font-weight: bold;">Marvel</h1>
                <p class="col-md-8" id="history">&ensp;&ensp;&ensp;&ensp;&ensp;มาร์เวลสตูดิโอส์ แอลแอลซี (อังกฤษ: Marvel Studios, LLC) หรือชื่อก่อนหน้านี้คือ มาร์เวลฟิล์ม (อังกฤษ: Marvel Films) 
                  ช่วงปลายทศวรรษ 90 Marvel ค่ายการ์ตูนซุปเปอร์ฮีโร่ยักษ์ใหญ่ เจ้าของลิขสิทธ์คาแรคเตอร์ดังๆมากมาย ไม่ว่าจะเป็น Spider Man, Captain America, X-Men, Iron Man, Thor, Hulk ฯลฯ ตกอยู่ในภาวะขาดทุนเข้าสู่กระบวนการล้มละลาย ในทศวรรษต่อมาปี 2008 ทางมาร์เวลก็ได้สร้างภาพยนตร์ Iron Man ออกฉายและประสบผลสำเร็จ นับเป็นจุดเริ่มต้นของ จักรวาลภาพยนตร์มาร์เวล (Marvel Cinematic Universe)
                กลยุทธ์ Marvel Cinematic Universe หรือที่เรียกย่อๆว่า MCU นั้น คือการผลิตภาพยนตร์ซุปเปอร์ฮีโร่หลายๆเรื่องของมาร์เวลที่มีความเกี่ยวเนื่องกัน โดยเริ่มต้นจากซุปเปอร์ฮีโร่แต่ละคน แล้วนำหลายๆคนมารวมกันในหนังอีกเรื่อง เรียกได้ว่าเป็นแฟรนไชส์ภาพยนตร์ที่ยาวมากๆแฟรนไชส์หนึ่ง</p>

                <h1 class="col-md-5" style="color: #A4A4A4; font-weight: bold; padding: 1rem 0">DC</h1>
                <p class="col-md-8" id="history">&ensp;&ensp;&ensp;&ensp;&ensp;ดีซีคอมิกส์ DC Comics เป็นสำนักพิมพ์หนังสือการ์ตูนอเมริกาที่ใหญ่และประสบความสำเร็จที่สุดแห่งหนึ่ง ปัจจุบันเป็นส่วนหนึ่งของ DC Entertainment ซึ่งนำการ์ตูนจาก DC Comics มาทำเป็นภาพยนต์ ซึ่งเป็นบริษัทลูกของวอร์เนอร์ บราเดอร์ส เอนเตอร์เทนเมนต์ ซึ่งมีเจ้าของใหญ่คือไทม์ วอร์เนอร์ ดีซีคอมิกส์จัดพิมพ์หนังสือการ์ตูนและมีตัวละครที่มีชื่อเสียงมากมาย เช่น ซูเปอร์แมน แบทแมน วันเดอร์วูแมน โรบิน อะควอแมน ฮอว์คแมน กรีนแอร์โรว์ มาร์เชี่ยนแมนฮันเตอร์ กรีนแลนเทิร์น แฟลช และตัวละครตัวร้ายเช่นเล็กซ์ ลูเธอร์ โจ๊กเกอร์ ริดเดลอร์ มิสเตอร์ฟรีซ แคทวูแมน ซิเนสโตร เพนกวิน ทูเฟซ นายพลซ็อด เบรนิแอก ฮาร์ลีย์ ควินน์ ดาร์กไซด์ และโลโบ เป็นต้น</p>
              </div><!-- end.biology.text -->
            </div> <!-- container -->
          </div> <!-- overlay -->
        </header> <!-- masthead -->
      </section><!-- section1 -->
      <section><!-- section2 --><!-- graph-->
        <!-- <h1>GENRES</h1> -->
        <div class="row margin-b-40">
          <div class="col-md-6">
            <div class="margin-b-20">
              <object class="production_s2" type="image/svg+xml" data="{{url_for('static', filename='./svg/production/DC_Marvel/Marvel_Studios.svg')}}"></object>
            </div>
          </div>
          <div class="col-md-6" style="background-color: #000">
            <object class="production_s2" type="image/svg+xml" data="{{url_for('static', filename='./svg/production/DC_Marvel/DC_Comics.svg')}}"></object>
          </div>
        </div>
      </section><!-- section2 -->
      <section><!-- section3 --><!-- pop-->
        <div class="row margin-b-40">
          <div class="col-md-6">
            <!-- <h1>POPULAR</h1> -->
            <div class="margin-b-20">
              <object class="production_s2" type="image/svg+xml" data="{{url_for('static', filename='./svg/production/DC_Marvel/Marvel_Studios_genrespopular.svg')}}"></object>
            </div>
          </div>
          <div class="col-md-6" style="background-color: #000">
            <div>
              <object class="production_s2" type="image/svg+xml" data="{{url_for('static', filename='./svg/production/DC_Marvel/DC_Comics_genrespopular.svg')}}"></object>
            </div>
          </div>
        </section>
        <section style="background-color: #000;"><!-- section4--><!-- marvel slide graph -->
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <object class="graph-size" type="image/svg+xml"  data="{{url_for('static', filename='./svg/production/DC_Marvel/Marvel_Studios_2005.svg')}}"></object>
              </div>
              <div class="carousel-item">
                <object class="graph-size" type="image/svg+xml"  data="{{url_for('static', filename='./svg/production/DC_Marvel/Marvel_Studios_2010.svg')}}"></object>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </section><!-- section4-->
        <section style="background-color: #000;"><!-- section5 --><!-- DC slide graph -->
          <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <object class="graph-size" type="image/svg+xml"  data="{{url_for('static', filename='./svg/production/DC_Marvel/DC_Comics_2005.svg')}}"></object>
              </div>
              <div class="carousel-item">
                <object class="graph-size" type="image/svg+xml"  data="{{url_for('static', filename='./svg/production/DC_Marvel/DC_Comics_2010.svg')}}"></object>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </section><!-- section5-->
        <section> <!-- section6 -->
          <div class="margin-b-20" id="solograph">
            <object class="svgfile" type="image/svg+xml" data="{{url_for('static', filename='./svg/production/DC_Marvel/check_benefit.svg')}}"></object>
          </div>
        </section>
        <section style="background-color: #EFECEC;"><!-- section7 --><!-- top3 -->
          <div class="container content-lg">
            <div class="row text-center margin-b-40">
              <div> <!-- class="col-sm-6 col-sm-offset-6" -->
                <h2>Top 3 Marvel's Movies at the box office</h2>
                <p>The unfairness of the Treaty of Versailles and other peace agreements. Which was made after the First World War. They were forced to sign contracts that were at a disadvantage</p>
              </div>
            </div>
            <div class="row">
              <!-- skyfall Products -->
              <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20" style="text-align: center;">
                  <img class="img-responsive" src="{{ url_for('static', filename='img/top3/aven1.jpg')}}">
                </div>
                <h4><span class="text-uppercase margin-l-20">The Avengers</span></h4>
                <p>&ensp;&ensp;รายได้ ทั่วโลก 1,299,557,910$</p>
                <p class="scroll">&ensp;&ensp;&ensp;การรวมตัวของเหล่าสุดยอดซูเปอร์ฮีโร่ครั้งแรกในประวัติศาสตร์ ที่ประกอบไปด้วยซูเปอร์ฮีโร่จากมาร์เวลอย่าง ไอรอน แมน, ดิ อินเครดิเบิ้ล ฮัลค์, ธอร์, กัปตัน อเมริกา, ฮอร์คอาย และ แบล็ควิโดว์ เมื่อศัตรูตัวร้ายที่ไม่คาดฝันได้เข้ามารุกรานและหมายจะครอบรองโลก นิค ฟิวรี่ ผู้อำนายการองค์กรป้องกันความสงบสุขระหว่างประเทศที่รู้จักในนามของหน่วย S.H.I.E.L.D.   (ชีลด์) ต้องการสร้างทีมขึ้นมาเพื่อปกป้องโลกให้พ้นจากหายนะอันยิ่งใหญ่ครั้งนี้</p>
              </div>
              <!-- End skyfall Products -->
              <!-- spiderman Products -->
              <div class="col-sm-4 sm-margin-b-50" id="spider">
                <div class="margin-b-20" style="text-align: center;">
                  <img class="img-responsive" src="{{ url_for('static', filename='img/top3/aven2.jpg')}}">
                </div>
                <h4><span class="text-uppercase margin-l-20">Avengers: Age of Ultron</span></h4>
                <p>&ensp;&ensp;รายได้ ทั่วโลก 1,125,403,694$</p>
                <p class="scroll">&ensp;&ensp;&ensp;มาร์เวล สตูดิโอ ภูมิใจเสนอ "อเวนเจอร์ส : มหาศึกอัลตรอนถล่มโลก" มหากาพย์ภาคต่อของภาพยนตร์ซูเปอร์ฮีโร่เรื่องยิ่งใหญ่ตลอดกาล เมื่อโทนี่ สตาร์คต้องการที่จะปัดฝุ่นโครงการเพื่อสันติสุขของชาวโลกขึ้นมาอีกครั้ง แต่มันไม่ได้เป็นไปอย่างที่คาดไว้ และเหล่าซูเปอร์ฮีโร่ผู้ทรงพลังอย่าง ไอรอนแมน, กัปตันอเมริกา, ธอร์, ดิ อินเครดิเบิ้ล ฮัลค์, แบล็ค วิโดว์ และ ฮอว์คอาย ต้องเผชิญกับบททดสอบอันยิ่งใหญ่โดยมีชะตากรรมของโลกแขวนอยู่บนเส้นด้าย เมื่อ "อัลตรอน" สุดยอดวายร้ายได้ถือกำเนิด มีเพียงเหล่าอเวนเจอร์สเท่านั้นที่จะสามารถหยุดยั้งเขาและแผนการอันชั่วร้ายของเขาได้ ความวิตกกังวลของเหล่าซูเปอร์ฮีโร่ยอดนักสู้และการกระทำที่ไม่คาดคิดได้นำไปสู่มหากาพย์การผจญภัยระดับโลกที่ไม่มีใครเหมือน</p>
              </div><!-- End spiderman Products -->
              <!-- End Davici Products -->
              <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20" style="text-align: center;">
                  <img class="img-responsive" src="{{ url_for('static', filename='img/top3/iron_man_3.jpg')}}">
                </div>
                <h4><span class="text-uppercase margin-l-20">Iron Man 3</span></h4>
                <p>&ensp;&ensp;รายได้ ทั่วโลก 1,015,439,994$</p>
                <p class="scroll">&ensp;&ensp;&ensp;โทนี่ สตาร์ค เป็นนักประดิษฐ์และนักอุตสาหกรรม มหาเศรษฐีพันล้านที่ถูกลักพาตัวไปขณะอยู่ต่างบ้านต่างเมือง แล้วก็ถูกบีบบังคับให้คิดค้นอาวุธที่มีประสิทธิภาพการทำลายล้างสูง แทนที่เขาจะใช้สติปัญญาอันปราดเปรื่อง และแนวคิดอัจฉริยะประดิษฐ์ตามคำสั่ง แต่ว่าโทนี่กลับสร้างชุดเกราะไฮเทค และหนีรอดการถูกจองจำมาได้ พอกลับมายังอเมริกาโทนี่ก็ต้องเผชิญหน้ากับอดีต และล่วงรู้แผนการชั่วร้ายที่มุ่งทำลายล้างโลก เขาจึงต้องสวมชุดเกราะทรงพลัง และปฏิญาณว่าจะพิทักษ์โลกใบนี้ในนาม ไอรอน แมน 3</p>
              </div>
              <!-- End Davici Products -->
            </div>
            <!--// end row -->
          </section><!-- section7 -->
          <section><!-- section8 --><!-- top3 -->
            <div class="container content-lg">
              <div class="row text-center margin-b-40">
                <div> <!-- class="col-sm-6 col-sm-offset-6" -->
                  <h2>Top 3 DC's Movies at the box office</h2>
                  <p>The unfairness of the Treaty of Versailles and other peace agreements. Which was made after the First World War. They were forced to sign contracts that were at a disadvantage</p>
                </div>
              </div>
              <div class="row">
                <!-- skyfall Products -->
                <div class="col-sm-4 sm-margin-b-50">
                  <div class="margin-b-20" style="text-align: center;">
                    <img class="img-responsive" src="{{ url_for('static', filename='img/top3/bm.dc.jpg')}}">
                  </div>
                  <h4><span class="text-uppercase margin-l-20">The Dark Knight</span></h4>
                  <p>&ensp;&ensp;รายได้ ทั่วโลก 819,558,444$</p>
                  <p class="scroll">&ensp;&ensp;&ensp;ด้วยความช่วยเหลือของผู้หมวดจิม กอร์ดอน และอัยการเขตฮาร์วีย์ เดนท์ แบทแมนมุ่งมั่นที่จะทำลายล้างองค์กรอาชญากรรมในกอธแฮมให้สิ้นซาก การทำงานแบบสามทหารเสือดูเหมือนจะสัมฤทธิผล แต่ไม่ช้าพวกเขากลับพบว่าตกเป็นเหยื่อของจอมอาชญากรอย่างโจ๊กเกอร์ ผู้ซึ่งทำให้กอธแธมต้องตกอยู่ในความสับสน และบีบบังคับให้อัศวินดำต้องเฉียดเข้าไปใกล้เส้นแบ่งระหว่างวีรบุรุษและวายร้ายมากยิ่งขึ้น</p>
                </div>
                <!-- End skyfall Products -->
                <!-- spiderman Products -->
                <div class="col-sm-4 sm-margin-b-50" id="spider">
                  <div class="margin-b-20" style="text-align: center;">
                    <img class="img-responsive" src="{{ url_for('static', filename='img/top3/bvs.dc.jpeg')}}">
                  </div>
                  <h4><span class="text-uppercase margin-l-20">Batman v Superman: Dawn of Justice</span></h4>
                  <p>&ensp;&ensp;รายได้ ทั่วโลก 623,260,194$</p>
                  <p class="scroll">&ensp;&ensp;&ensp;แบทแมนที่อยู่ในเหตุการณ์นั้นได้เห็นถึงพลังอำนาจของซูเปอร์แมนที่เป็นได้ทั้งคุณและโทษ จนเมื่อเวลาผ่านไป 2 ปี ซูเปอร์แมน ในนามของ คลาร์ก เคนท์ ได้ทำงานเป็นนักข่าว และต้องการสืบหาตัวตนของ แบทแมน ชายลึกลับที่ตั้งตนเป็นศาลเตี้ยกำจัดวายร้ายนอกกฎหมายกระแสสังคมที่มีต่อซูเปอร์แมนผู้มีพลังเหนือมนุษย์ ได้แตกออกเป็น 2 ฝั่ง ผู้ที่นับถือเขาเปรียบดังพระเจ้าองค์ใหม่ และผู้คนที่หวาดระแวงในพลังของเขาที่มากเกินควบคุมความบาดหมางระหว่างแบทแมนกับซูเปอร์แมนที่ค่อยๆ รุนแรงขึ้นเรื่อยๆ ภัยคุกคามเบื้องหลังพวกเขาก็ค่อยๆ ก่อตัวขึ้นอย่างรวดเร็วทำให้มวลมนุษยชาติต้องตกอยู่ในอันตรายแบบที่ไม่เคยมีมาก่อน…</p>
                </div><!-- End spiderman Products -->
                <!-- End Davici Products -->
                <div class="col-sm-4 sm-margin-b-50">
                  <div class="margin-b-20" style="text-align: center;">
                    <img class="img-responsive" src="{{ url_for('static', filename='img/top3/suis.dc.jpg')}}">
                  </div>
                  <h4><span class="text-uppercase margin-l-20">Suicide Squad</span></h4>
                  <p>&ensp;&ensp;รายได้ ทั่วโลก 570,000,000$</p>
                  <p class="scroll">&ensp;&ensp;&ensp;สำหรับเนื้อเรื่องนั้น จะเป็นกล่าวถึงบรรดาเหล่าร้ายที่ได้รับโอกาสจากทางรัฐบาลในการไถ่โทษจากการทำวีรกรรมชั่วร้ายในอดีตที่พวกเขาก่อไว้ โดยการต้องมาปฏิบัติภารกิจเสี่ยงตายที่มีโอกาสรอดน้อยนิดร่วมกัน เพื่อแลกกับการลดหย่อนโทษและอิสรภาพที่พวกเขาจะได้รับจากการไม่ต้องถูกจำคุกตลอดชีวิต เหมือนการ “ฆ่าตัวตายหมู่“ สมชื่อ “Suicide Squad“</p>
                </div>
                <!-- End Davici Products -->
              </div>
              <!--// end row -->
            </section><!-- section8 -->
          </div>
          <!-- Bootstrap core JavaScript -->
          <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
          <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        </body>
        </html>
