<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://unpkg.com/vue"></script>
  
  <title>Show_</title>
  
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/one-page-wonder.css') }}" rel="stylesheet">
  <!-- boom csss-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/boom.css') }}">

  <!-- for graph padding -->
  <style>
  header.masthead>.overlay {
    padding: 1.5rem 0
  }
</style>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Genres Movie Analytic</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/credit">Credit</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END NAVBAR -->

  <div id="fullpage">
    <section>
      <header class="masthead">
        <div class="overlay">
          <!-- <div class="col-md-6"> -->
            <object class="svgfile" type="image/svg+xml" data="{{ url_for('static', filename='svg/year.svg')+'?q=a' }}">
              Your browser does not support SVG
            </object>
            <!-- </div> -->
          </div> <!-- overlay -->
        </header> <!-- masthead -->
      </section> <!-- section 1 -->
      <section><!-- 1950 -->
        <object class="svgfile" type="image/svg+xml" data="{{ url_for('static', filename='svg/year/1950.svg')+'?q=a' }}">
        <!-- Your browser does not support SVG -->
        </object>
        </section><!-- section 2 -->
      <section><!-- 1960 -->
        <object class="svgfile" type="image/svg+xml" data="{{ url_for('static', filename='svg/year/1960.svg')+'?q=a' }}">
        <!-- Your browser does not support SVG -->
        </object>
      </section> <!-- section 3 -->
      <section><!-- 1970 -->
        <object class="svgfile" type="image/svg+xml" data="{{ url_for('static', filename='svg/year/1970.svg')+'?q=a' }}">
        <!-- Your browser does not support SVG -->
        </object>
      </section> <!-- section 4 -->
      <section><!-- 1980 -->
        <object class="svgfile" type="image/svg+xml" data="{{ url_for('static', filename='svg/year/1980.svg')+'?q=a' }}">
        <!-- Your browser does not support SVG -->
        </object>
      </section> <!-- section 5 -->
      <section><!-- 1990 -->
        <object class="svgfile" type="image/svg+xml" data="{{ url_for('static', filename='svg/year/1990.svg')+'?q=a' }}">
        <!-- Your browser does not support SVG -->
        </object>
      </section> <!-- section 6 -->
      <section><!-- 2000 -->
        <object class="svgfile" type="image/svg+xml" data="{{ url_for('static', filename='svg/year/2000.svg')+'?q=a' }}">
        <!-- Your browser does not support SVG -->
        </object>
      </section> <!-- section 7 -->
      <section><!-- 2010 -->
        <object class="svgfile" type="image/svg+xml" data="{{ url_for('static', filename='svg/year/2010.svg')+'?q=a' }}">
        <!-- Your browser does not support SVG -->
        </object>
      </section> <!-- section 8 -->
      <section><!-- 2015 -->
        <object class="svgfile" type="image/svg+xml" data="{{ url_for('static', filename='svg/year/2015.svg')+'?q=a' }}">
        <!-- Your browser does not support SVG -->
        </object>
      </section> <!-- section 9 -->
  </div> <!-- id full page -->
  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>