<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://unpkg.com/vue"></script>
  
  <title>Show_</title>
  
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/one-page-wonder.css') }}" rel="stylesheet">
  <!-- boom csss-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/boom.css') }}">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Genres Movie Analytic</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/credit">Credit</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END NAVBAR -->
  <header class="masthead"> 
    <div class="overlay">
      <div class="row justify-content-center">
        <div class="col-sm-2 cardimg">
          <a href="/show">
            <div class="acard">
              <img src="{{ url_for('static', filename='img/directors/james.cameron.jpg') }}" class="img_incard">
              <p>James Cameron</p>
            </div>
          </a>
        </div>
        <div class="col-sm-2 cardimg">
          <a href="/show">
            <div class="acard">
              <img src="{{ url_for('static', filename='img/directors/james.cameron.jpg') }}" class="img_incard">
              <p>James Cameron</p>
            </div>
          </a>
        </div>
        <div class="col-sm-2 cardimg">
          <a href="/show">
            <div class="acard">
              <img src="{{ url_for('static', filename='img/directors/james.cameron.jpg') }}" class="img_incard">
              <p>James Cameron</p>
            </div>
          </a>
        </div>
        <div class="col-sm-2 cardimg">
          <a href="/show">
            <div class="acard">
              <img src="{{ url_for('static', filename='img/directors/james.cameron.jpg') }}" class="img_incard">
              <p>James Cameron</p> 
            </div>
          </a>
        </div>
      </div>
    </div>
  </header>
  <div height="100%" weight="100%">
    <object type="image/svg+xml" data="{{ url_for('static', filename='svg/popular_d.svg')+'?q=a' }}">
      Your browser does not support SVG
    </object>
  </div>
  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>
