<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://unpkg.com/vue"></script>
  
  <title>Show_</title>
  
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/one-page-wonder.css') }}" rel="stylesheet">
  <!-- boom csss-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/boom.css') }}">

  <!-- for graph padding -->
  <style>
  header.masthead>.overlay {
    padding: 15rem 0
  }
</style>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Genres Movie Analytic</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/credit">Credit</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END NAVBAR -->

  <div id="fullpage">
    <section>
      <header class="masthead">
        <div class="overlay">
          <div class="container">
              <div id="biology" class="row"> <!-- biology.text -->
                <div>
                  <h1 class="col-md-5" style="color: #00ffea ; font-weight: bold;">Timeline Moives's Genres</h1>
                  <p class="col-md-8" id="history" style="text-align: justify; color:#e6ffff; font-size: 20px";>&ensp;&ensp;&ensp;&ensp;&ensp;การเปลี่ยนแปลง&ensp;สังคม&ensp;วัฒนธรรม&ensp;ความคิด&ensp;เทคโนโลยี&ensp;และการดำเนินชีวิตต่างๆ&ensp;ที่ทำให้เกิดการเปลี่ยนแปลงของแนวหนังภาพยนต์ ในแต่ละยุคสมัย ตามช่วงเวลา ที่เกิดการเปลี่ยนแปลง</p>
            </div>          
          </div>
        </div> <!-- overlay -->
      </header> <!-- masthead -->
    </section> <!-- section 1 -->
    <section><!-- 1950 -->
      <div class="row margin-b-40">
        <div class="col-md-7" id="year_g">
          <object class="svgfile" type="image/svg+xml" data="{{ url_for('static', filename='svg/year/1950.svg')+'?q=a' }}">
          </object>
        </div>
        <div class="col-md-4" id="board_text">
          <p id="year_d">&ensp;&ensp;&ensp;&ensp;1950-1959 : ในช่วงทศวรรต 50 เป็นรู้จักกันด้านความร่ำรวยหลังสงครามและการมีกิจกรรมยามว่าง มีการเริ่มต้นกิจการแฟรนไชส์ต่างๆ และรวมถึงการมีทีวีและบัตรเครดิต มีการแสดงรายการโทรทัศน์ต่างๆผ่านทางโทรทัศน์ครั้งแรก พูดง่ายๆช่วง 50 เป็นการเริ่มต้นของทีวีซีรี่ย์และหนังภาพยนต์เป็นแนว Ramance และ Comedy โดยหนังที่เป็นแนว Comedyที่ดังในช่วงยุคนั้นก็คือเรื่อง Harvey(1950) และ Romance คือเรื่อง  An Affair to Remember</p>
        </div>
      </div>
    </section><!-- section 2 -->
    <section><!-- 1960 -->
      <div class="row margin-b-40">
        <div class="col-md-7" id="year_g">
          <object class="svgfile" type="image/svg+xml" data="{{ url_for('static', filename='svg/year/1960.svg')+'?q=a' }}">
          </object>
        </div>
        <div class="col-md-4" id="board_text">
          <p id="year_d">&ensp;&ensp;&ensp;&ensp;1960-1969 : เป็นยุคของแฟชั่นและร็อคแอนด์โรลซึ่งเกิดการเปลี่ยนแปลงวัฒนธรรมการฟังเพลง และเป็นยุคที่มีการเกิดเหตุคดีฆาตกรรมมากกว่าในยุคก่อนๆ เหตุการณ์สำคัญ เช่นการเสียชีวิตของนักแสดงชื่อดังอย่างมาริริน มอนโร  และหนังที่ได้รับนิยมในช่วงยุคนี้ เป็นหนังแนวลอบสังหารและดราม่า 
          </p>
        </div>
      </div>
    </section> <!-- section 3 -->
    <section><!-- 1970 -->
      <div class="row margin-b-40">
        <div class="col-md-7" id="year_g">
          <object class="svgfile" type="image/svg+xml" data="{{ url_for('static', filename='svg/year/1970.svg')+'?q=a' }}">
          </object>
        </div>
        <div class="col-md-4" id="board_text">
          <p id="year_d">&ensp;&ensp;&ensp;&ensp;1970-1979 : ในช่วงนี้เป็นยุคแห่งการเปลี่ยนแปลงของวงการหนังเนื่องจาก ภายในยุค 70 นี้มีเทคโนโลยีในการถ่ายทำหนังที่ดีขึ้น และในช่วงเดียวกันนี้ผู้กำกับหนังได้ลาออกจากวงเป็นจำนวนมาก จึงมีผู้กำกับหน้าใหม่เข้ามาพร้อมกับแนวคิดการทำภาพยนต์ในรูปแบบใหม่มากยิ่งขึ้น เช่น George Walton Lucas ,Steven Spielberg's จึงทำให้เกิดเป็นแนวหนัง Science fiction & Action ซึ่งเได้รับความนิยมเป็นอย่างมาก</p>
        </div>
      </div>
    </section> <!-- section 4 -->
    <section><!-- 1980 -->
      <div class="row margin-b-40">
        <div class="col-md-7" id="year_g">
          <object class="svgfile" type="image/svg+xml" data="{{ url_for('static', filename='svg/year/1980.svg')+'?q=a' }}">
          </object>
        </div>
        <div class="col-md-4" id="board_text">
          <p id="year_d">&ensp;&ensp;&ensp;&ensp;1980-1989 :
            ตั้งแต่ปลายยุค 70 จะเห็นได้ว่า หนังแนว Action & Anventure ได้รับความนิยม เป็นต้นมา จึงทำให้เห็นว่า ในยุค 80s หนังแนวนี้ก็ยังได้รับความนิยมจากแฟนๆและ ค่ายหนังต่างๆมากยิ่งขึ้น จึงทำให้แต่ละ Production และ Directer ทำหนังแนวนี้เพิ่มมากขึ้น
          </p>
        </div>
      </div>
    </section> <!-- section 5 -->
    <section><!-- 1990 -->
      <div class="row margin-b-40">
        <div class="col-md-7" id="year_g">
          <object class="svgfile" type="image/svg+xml" data="{{ url_for('static', filename='svg/year/1990.svg')+'?q=a' }}">
          </object>
        </div>
        <div class="col-md-4" id="board_text">
          <p id="year_d">&ensp;&ensp;&ensp;&ensp;1990-1999 : 90s นั้นเป็นยุคที่กําลังพัฒนาไม่ว่าจะในด้านสังคม การเรียน การใช้ชีวิต การฟังเพลง และเทคโนโลยี ได้เริ่มเปิดกว้างมากยิ่งขึ้น ในยุคนี้ผู้คนเริ่มยอมรับแนวคิดโลกเสรีมากขึ้นการมีความคิดและมุมมองที่แตกต่างจากผู้อื่น การเรียนรู้ เข้าใจและการยอมรับในความคิดที่แตกต่าง จึงทำให้หนังแนวดราม่าได้รับความนิยมเป็นอย่างมากในยุคนี้ เนื่องมาจากหนังแนวดราม่า จะแสดงให้เห็นถึงมุมมองที่แตกต่าง หรือแนวความคิดที่แตกต่างกัน ของบุคคล</p>
        </div>
      </div>
    </section> <!-- section 6 -->
    <section><!-- 2000 -->
      <div class="row margin-b-40">
        <div class="col-md-7" id="year_g">
          <object class="svgfile" type="image/svg+xml" data="{{ url_for('static', filename='svg/year/2000.svg')+'?q=a' }}">
          </object>
        </div>
        <div class="col-md-4" id="board_text">
          <p id="year_d">&ensp;&ensp;&ensp;&ensp;2000-2009 : เนื่องจากยุค 90s ที่ผ่านมาเป็นทศวรรษที่มีการนำคอมพิวเตอร์เข้ามาใช้ในการสร้างภาพ ในปีนี้จึงเป็นปีที่ใช้ Advance Special Effects และเป็นยุคของหนัง แฟรนไชน์ อย่างเช่น Avatar ที่ขึ้นแท่นอันดับภาพยนตร์ที่ทำรายได้ทั่วโลกได้มากที่สุดตลอดกาล แทนที่หนังดังตลอดการอย่าง Titanic</p>
        </div>
      </div>
    </section> <!-- section 7 -->
    <section><!-- 2010 -->
      <div class="row margin-b-40">
        <div class="col-md-7" id="year_g">
          <object class="svgfile" type="image/svg+xml" data="{{ url_for('static', filename='svg/year/2010.svg')+'?q=a' }}">
          </object>
        </div>
        <div class="col-md-4" id="board_text">
          <p id="year_d">&ensp;&ensp;&ensp;&ensp;2010-2016 : ตั้งแต่เริ่มยุค 2000s มาเห็นได้ว่ามีการสร้างหนัง Action  & Adventure มีมากขึ้นเลื่อยๆจนมาถึงยุค 2010s ได้มีการสร้างหนังที่ใช้กราฟฟิกต่างๆ ในหนังภาคต่อแฟนไซน์มากยิ่งขึ้น เช่น JAMES BORN MARVEL  STUDIO DC COMMIC STARWAR7 ละอื่นๆ จึงทำให้หนังแน่นี้ได้รับความนิยมมากยิ่งขึ้น
          </p>
        </div>
      </div>
    </section> <!-- section 8 -->
  </div> <!-- id full page -->
  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>