<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://unpkg.com/vue"></script>
  
  <title>Show_</title>
  
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/one-page-wonder.css') }}" rel="stylesheet">
  <!-- boom csss-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/boom.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Genres Movie Analytic</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/credit">Credit</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END NAVBAR -->
  <div id="fullpage">
    <section>
      <header class="masthead"> 
        <div class="overlay">
        </div> <!-- overlay -->
      </header> <!-- masthead -->
    </section> <!-- section 1 -->
    <section style="background-color: #232323;"><!-- section2 --><!-- slide graph -->
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <object class="production_s2" type="image/svg+xml" data="{{url_for('static', filename='./svg/director/Steven_Spielberg/Steven_Spielberg_1975.svg')}}"></object>
          </div>
          <div class="carousel-item">
            <object class="production_s2" type="image/svg+xml" data="{{url_for('static', filename='./svg/director/Steven_Spielberg/Steven_Spielberg_1985.svg')}}"></object>
          </div>
          <div class="carousel-item">
            <object class="production_s2" type="image/svg+xml" data="{{url_for('static', filename='./svg/director/Steven_Spielberg/Steven_Spielberg_1995.svg')}}"></object>
          </div>
          <div class="carousel-item">
            <object class="production_s2" type="image/svg+xml" data="{{url_for('static', filename='./svg/director/Steven_Spielberg/Steven_Spielberg_2005.svg')}}"></object>
          </div>
          <div class="carousel-item">
            <object class="production_s2" type="image/svg+xml" data="{{url_for('static', filename='./svg/director/Steven_Spielberg/Steven_Spielberg_2010.svg')}}"></object>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </section><!-- section2 -->
        <section><!-- section3 --><!-- graph-->
          <div class="row margin-b-40">
            <div class="col-md-6">
              <div class="margin-b-20">
                <object class="production_s2" type="image/svg+xml" data="{{url_for('static', filename='./svg/director/Steven_Spielberg/director_genres.svg')}}"></object>
              </div>
            </div>
            <div class="col-md-6" style="background-color: #000">
              <object class="production_s2" type="image/svg+xml" data="{{url_for('static', filename='./svg/director/Steven_Spielberg/popular_d.svg')}}"></object>
            </div>
          </div>
        </section><!-- section3 -->
        <section style="background-color: #EFECEC;"><!-- section7 --><!-- top3 -->
          <div class="container content-lg">
            <div class="row text-center margin-b-40">
              <div> <!-- class="col-sm-6 col-sm-offset-6" -->
                <h2>Top 3 Marvel's Movies at the box office</h2>
                <p>The unfairness of the Treaty of Versailles and other peace agreements. Which was made after the First World War. They were forced to sign contracts that were at a disadvantage</p>
              </div>
            </div>
            <div class="row">
              <!-- skyfall Products -->
              <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20">
                  <img class="img-responsive" src="{{ url_for('static', filename='img/top3/aven1.jpg')}}">
                </div>
                <h4><span class="text-uppercase margin-l-20">The Avengers</span></h4>
                <p>&ensp;&ensp;รายได้ ทั่วโลก 1,299,557,910$</p>
                <p class="scroll">&ensp;&ensp;&ensp;การรวมตัวของเหล่าสุดยอดซูเปอร์ฮีโร่ครั้งแรกในประวัติศาสตร์ ที่ประกอบไปด้วยซูเปอร์ฮีโร่จากมาร์เวลอย่าง ไอรอน แมน, ดิ อินเครดิเบิ้ล ฮัลค์, ธอร์, กัปตัน อเมริกา, ฮอร์คอาย และ แบล็ควิโดว์ เมื่อศัตรูตัวร้ายที่ไม่คาดฝันได้เข้ามารุกรานและหมายจะครอบรองโลก นิค ฟิวรี่ ผู้อำนายการองค์กรป้องกันความสงบสุขระหว่างประเทศที่รู้จักในนามของหน่วย S.H.I.E.L.D.   (ชีลด์) ต้องการสร้างทีมขึ้นมาเพื่อปกป้องโลกให้พ้นจากหายนะอันยิ่งใหญ่ครั้งนี้</p>
              </div>
              <!-- End skyfall Products -->
              <!-- spiderman Products -->
              <div class="col-sm-4 sm-margin-b-50" id="spider">
                <div class="margin-b-20">
                  <img class="img-responsive" src="{{ url_for('static', filename='img/top3/aven2.jpg')}}">
                </div>
                <h4><span class="text-uppercase margin-l-20">Avengers: Age of Ultron</span></h4>
                <p>&ensp;&ensp;รายได้ ทั่วโลก 1,125,403,694$</p>
                <p class="scroll">&ensp;&ensp;&ensp;มาร์เวล สตูดิโอ ภูมิใจเสนอ "อเวนเจอร์ส : มหาศึกอัลตรอนถล่มโลก" มหากาพย์ภาคต่อของภาพยนตร์ซูเปอร์ฮีโร่เรื่องยิ่งใหญ่ตลอดกาล เมื่อโทนี่ สตาร์คต้องการที่จะปัดฝุ่นโครงการเพื่อสันติสุขของชาวโลกขึ้นมาอีกครั้ง แต่มันไม่ได้เป็นไปอย่างที่คาดไว้ และเหล่าซูเปอร์ฮีโร่ผู้ทรงพลังอย่าง ไอรอนแมน, กัปตันอเมริกา, ธอร์, ดิ อินเครดิเบิ้ล ฮัลค์, แบล็ค วิโดว์ และ ฮอว์คอาย ต้องเผชิญกับบททดสอบอันยิ่งใหญ่โดยมีชะตากรรมของโลกแขวนอยู่บนเส้นด้าย เมื่อ "อัลตรอน" สุดยอดวายร้ายได้ถือกำเนิด มีเพียงเหล่าอเวนเจอร์สเท่านั้นที่จะสามารถหยุดยั้งเขาและแผนการอันชั่วร้ายของเขาได้ ความวิตกกังวลของเหล่าซูเปอร์ฮีโร่ยอดนักสู้และการกระทำที่ไม่คาดคิดได้นำไปสู่มหากาพย์การผจญภัยระดับโลกที่ไม่มีใครเหมือน</p>
              </div><!-- End spiderman Products -->
              <!-- End Davici Products -->
              <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20">
                  <img class="img-responsive" src="{{ url_for('static', filename='img/top3/iron_man_3.jpg')}}">
                </div>
                <h4><span class="text-uppercase margin-l-20">Iron Man 3</span></h4>
                <p>&ensp;&ensp;รายได้ ทั่วโลก 1,015,439,994$</p>
                <p class="scroll">&ensp;&ensp;&ensp;โทนี่ สตาร์ค เป็นนักประดิษฐ์และนักอุตสาหกรรม มหาเศรษฐีพันล้านที่ถูกลักพาตัวไปขณะอยู่ต่างบ้านต่างเมือง แล้วก็ถูกบีบบังคับให้คิดค้นอาวุธที่มีประสิทธิภาพการทำลายล้างสูง แทนที่เขาจะใช้สติปัญญาอันปราดเปรื่อง และแนวคิดอัจฉริยะประดิษฐ์ตามคำสั่ง แต่ว่าโทนี่กลับสร้างชุดเกราะไฮเทค และหนีรอดการถูกจองจำมาได้ พอกลับมายังอเมริกาโทนี่ก็ต้องเผชิญหน้ากับอดีต และล่วงรู้แผนการชั่วร้ายที่มุ่งทำลายล้างโลก เขาจึงต้องสวมชุดเกราะทรงพลัง และปฏิญาณว่าจะพิทักษ์โลกใบนี้ในนาม ไอรอน แมน 3</p>
              </div>
              <!-- End Davici Products -->
            </div>
            <!--// end row -->
          </section><!-- section7 -->
      </div> <!-- fullpage -->
      <!-- Bootstrap core JavaScript -->
      <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    </body>

    </html>
